@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

#mainfont {
    font-family: 'Montserrat', sans-serif;

}

.jumbotron {
    background-image: url('../img/cheers.jpg');
    background-size: cover;
    height: 70vh;
    color: white;
    
}

.bodytext {
    font-family: 'Oswald', sans-serif;
}

#backdrop {
    background-color:red;

}

header {
    background-color: blue;

}

.aside {
    background-color: pink;

}

main {
    background-color: purple;
}

footer {
    background-color: yellow;
}

header, .aside {
    height: 300px;
    border: solid 2px black;

}

main, .promo {
    height: 150px;
    border: solid 2px black;
}